* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #534055;
    padding: 10px 0;
    text-align: center;
    color: black;
}

header ul li a {
    display: inline;
    padding: 0px;
    margin: 0 10px;
    color: black;
}

main {
    margin: 100px;
}

h2 {
    color: rgb(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 10px 100px 0px 1000px;
    
}

@media screen and (max-width: 768px) {
    * {
        flex-wrap: wrap;
        display: block;
        padding: 0px;
        margin: 0px;
        color: black;
    }  
}
footer {
    display: flex;
    text-align: center;
    margin: 50px 500px 200px 500px;
}