* {

  background-image: url("./dog pic.jpg");

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #534055;
  padding: 10px 0;
  text-align: center;
}
h2 {
  color: rgb(0, 0, 0);
}
header ul li a {
  display: inline;
  padding: 0px;
  margin: 0 10px;
  color: black;
}
form {
  flex: ;  
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  body {
    flex-wrap: wrap;
    display: block;
    padding: 0px;
    margin: 0px;
    color: black;
  }
}

